html {
  background-image: url();
}
header {
  font-size: 40px;
  color: blue;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

body {
  box-sizing: border-box;
}
#JepTable {
  empty-cells: show;
  margin: auto;
  border: 5px outset black;
}
#JepTable thead {
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: 'Nunito', sans-serif;
  background-color: blue;
  border: 10px outset black;
}
#JepTable tbody {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  background-color: blue;
  border: 10px outset black;
  margin: 10px;
  color: gold;
}
#JepTable th {
  border: 3px outset blue;
  margin: 6px;
}
#playerAccount  {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Seaweed Script', cursive;
  color: blue;
  margin-top: 10px;
  border: 0px outset blue;
}

#currentTotal {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  color: blue;
  border color: 10px outset black;
}
