header {
  font-size: 40px;
  color: white;
  font-family: 'Nunito', sans-serif; /* excellent providing a fallback font! */
  text-align: center;
}
body {
  background-image: url(buwzRS5.jpg);
  background-size: cover;
  box-sizing: border-box;
}
#JepTable {
  empty-cells: show;
  margin: auto;
  border: 5px outset #CCCCCC;
}
#JepTable thead {
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: 'Nunito', sans-serif;
  /* Can you think of a way to talk about all the Nunito elements vs the Seaweed elements? i.e. what do they have in common?
   * Noticing some repetition here w/ fonts. */
  background-color: #3B5CBF;

}
#JepTable tbody {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  background-color: #3B5CBF;
  color: gold;
}
#JepTable th {
  border: 3px outset #3B5CBF;
  margin: 6px;
}
#playerAccount  {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Seaweed Script', cursive;
  color: white;
  margin-top: 10px;
  border: 0px outset white;
}

#currentTotal {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  color: white;
  border color: 0px outset white
}
.Alex {
  position: fixed;
}

/* I also recommend using classes instead of ids when styling. This will help your DRY up and reuse your code. */
