header {
  font-size: 40px;
  color: white;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
body {
  background-image: url(buwzRS5.jpg);
  background-size: cover;
  box-sizing: border-box;
}
#JepTable {
  empty-cells: show;
  margin: auto;
  border: 5px outset #CCCCCC;
}
#JepTable thead {
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: 'Nunito', sans-serif;
  background-color: #3B5CBF;

}
#JepTable tbody {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  background-color: #3B5CBF;
  padding: 25px;
  color: gold;
}
#JepTable th {
  border: 3px outset #3B5CBF;
  margin: 6px;
}
#playerAccount  {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Seaweed Script', cursive;
  color: white;
  margin-top: 10px;
  border: 0px outset blue;
}

#currentTotal {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  color: white;
  border color: 10px outset black;
}
.Alex {
  position: fixed;
  bottom: 0;
  left: 0;
}
